#root {
  background-color: rgba(5, 5, 5, 0.973);
}

html, body{
  height: 100%;
  margin: 0;
  background-color: rgba(5, 5, 5, 0.973);
}


@font-face {
  font-family: "Shalimar-font";
  src: url("./fonts/Shalimar-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aldrich-font";
  src: url("./fonts/Aldrich-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InriaSans-Bold";
  src: url("./fonts/InriaSans-Bold.ttf") format("truetype");
}
