.TripDetails {
  max-width: 100%;
  align-content: center;
  border-radius: 10px;
  margin: 20px;
  height:fit-content;
  margin-top: 150px;
  background-color: rgba(255, 253, 253, 0.13);
}


.flex-container {
    display: flex;
    flex-wrap: nowrap;

  }

  .flex-container > div {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }


  .flex-container p {
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
  }

  .right-side {
    background-size: cover;
  }

  .addDocumentBtn{
    color: rgb(255, 255, 255);
    background-color: rgba(38, 163, 217, 0.491);
  }

  .addDocumentBtn:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(29, 122, 162, 0.491);
  }

  .addDestinationBtn{
    color: rgb(255, 255, 255);
    background-color: rgba(38, 163, 217, 0.491);
  }

  .addDestinationBtn:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(29, 122, 162, 0.491);
  }